@use "../1-helpers/helpers";

.image-container {
  position: relative;
  scale: 1;
  animation: scaleNotActiveImage 2s ease-in-out;

}

.image--active {
  scale: 0.9;
  animation: scaleActiveImage 2s ease-in-out;


@include helpers.keyframes(scaleActiveImage) {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 0.9;
  }
}

@include helpers.keyframes(scaleNotActiveImage) {
  0% {
    scale: 0.9;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}

.image_icon-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.image_icon--active {
  display: block;

  & > svg > path {
    fill: red;
  }
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.wide {
  grid-column: span 2;
}

.tall {
  grid-row: span 2;
}
