@use "../1-helpers/helpers";

.image-container {
  position: relative;
  scale: 1;
}

.image--active {
  scale: 0.9;
  animation: scaleActiveImage 2s ease-in-out;

  @include helpers.keyframes(scaleActiveImage) {
    0% {
      scale: 1;
    }
    50% {
      scale: 1.1;
    }
    100% {
      scale: 0.9;
    }
  }

  > svg > path {
    fill: helpers.$titleColor;
  }
}

.image_icon--added > svg {
  transform: rotate(45deg);
  animation: rotateIcon 1s ease-out;

  @include helpers.keyframes(rotateIcon) {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(45deg);
    }
  }

  > path {
    fill: helpers.$titleColor;
  }
}

.image_icon-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.wide {
  grid-column: span 2;
}

.tall {
  grid-row: span 2;
}
